{% extends 'base.html' %}
{% load static category %}

	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}天天生鲜-首页{% endblock %}</title>



{% block main %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>-->
	<!--<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>-->
	<!--<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>-->
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			{% get_categories as categories %}
					    <!--get_categories在category.py中，给她起个别名-->
					{% for category in categories %}
						<li><a href="{% url 'list' category.id %}"
							class="{{ category.img }}">{{ category.name }}</a></li>
					{% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				{% for i in img %}
				<li><img src="{{ MEDIA_URL }}{{ i.img }}" alt="幻灯片"></li>
				{% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			{% for i in xiaotu %}
			<a href="#"><img src="{{ MEDIA_URL }}{{ i.img }}"></a>
			<!--<a href="#"><img src="{{ MEDIA_URL }}{{ xiaotu.img }}"></a>-->
			{% endfor %}
		</div>
	</div>







			{% for i in zhutu %}
			<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{ i.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for x in msg|slice:':24' %}
				{% if x.parent_id == i.id %}
				<a href="#">{{ x.name }}</a>
				{% endif %}
				{% endfor %}
				<!--<a href="#">加州提子</a>-->
				<!--<a href="#">亚马逊牛油果</a>-->
			</div>
			<a href="{% url  'list' i.id %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>
		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ MEDIA_URL }}{{ i.img }}"></div>
			<ul class="goods_list fl">

				{% for j in msg|slice:':24' %}
				{% if j.parent_id == i.id %}
				<li>
					<h4><a href="{% url 'detail' j.id %}">{{ j.name }}</a></h4>
					<a href="{% url 'detail' j.id %}"><img src="{{ MEDIA_URL }}{{ j.img }}"></a>
					<div class="prize">￥{{ j.price1 }}元</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
		{% endfor %}









	<!--<div class="footer">-->
		<!--<div class="foot_link">-->
			<!--<a href="#">关于我们</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">联系我们</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">招聘人才</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">友情链接</a>		-->
		<!--</div>-->
		<!--<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>-->
		<!--<p>电话：010-****888    京ICP备*******8号</p>-->
	<!--</div>-->
	<!--<script type="text/javascript" src="js/slideshow.js"></script>-->
	<!--<script type="text/javascript">-->
		<!--BCSlideshow('focuspic');-->
		<!--var oFruit = document.getElementById('fruit_more');-->
		<!--var oShownum = document.getElementById('show_count');-->

		<!--var hasorder = localStorage.getItem('order_finish');-->

		<!--if(hasorder)-->
		<!--{-->
			<!--oShownum.innerHTML = '2';-->
		<!--}-->

		<!--oFruit.onclick = function(){-->
			<!--window.location.href = 'list.html';-->
		<!--}-->
	<!--</script>-->
{% endblock %}


